.circle {
display: flex;
border: 2px solid #1959d1;
height: 3em;
width: 3em;
background: radial-gradient(circle at center, #fff , #57b0ff);
border-radius: 50%;
position: absolute;
left: 130px;
top: 0px;
}

.circle span {
font-size: 1.4em;
margin: auto;
}


h2 {background-color: white;
position: absolute;
left: 200px;
top: -7px;
padding-left: 0.5em;
padding-right: 0.5em;}
	
.questions {text-align: left;
position: relative;
left: 200px;
top: -15px;
}	

.questions>span {background: linear-gradient(to right, #73d964, #fff);
font-weight: 600;
border-radius: 50%;
padding: 5px 10px;
position: absolute;
left: -35px;
}

.first {
font-size: 110%;
text-align: left;
}

.cursive {
font-style: italic;
}

.bold {
font-weight: 900;
}

.cursive.bold {
font-size: 105%;
}

.blue {padding: 0px 35px;
display: inline-block;

font-size: 98%;
background: linear-gradient(to bottom, #bde0ff, #fff);
}

.otstup{
text-indent: 20px;}

.comment2 {position: relative;
left: 50px;}

.comment2 span {
color: red;}

.comment {position: relative;
left: 50px;}

.comment>span {
color: red;}

.line {border-top: 3px solid #1959d1;
height: 1px;
width: 900px;
position: absolute;
top: 20px;}

.vertical {border-left: 3px solid #1959d1;
height: 105px;
width: 1px;
position: absolute;
left: 150px;
top: 20px;
}

.main {
margin-left: 100px;
position: relative;
top: -40px;}

body {
position: relative;
margin-left: 100px;}

.sulphum {
border: 1px solid black;
display: inline-block;
background-color: yellow;
height: 40px;
vertical-align: bottom;
position: relative;
}

.sulphum>span {
position: relative;
top: 20px;
left: 5px;
}

.orangeborder {
display: flex;
width: 260px;
height: 80px;
border: 3px solid orange;}

.orangeborder>span {
margin: auto;
font-size: 140%;}

.three {position: relative;
left: -7px;
top: -5px;}

.formules {line-height: 30px;
margin-top: 10px;
font-size: 120%;}

sub, sup {font-size: 70%;}

.example {
position: relative;
left: 20px;}

.figures {
/*border-left: 3px solid #57b0ff;*/
padding-left: 20px;
position: relative;
}

.figure {
display: inline;
position: absolute;
border: 4px solid white;
z-index: 1;
left: -9px;}

.triangle {
border: 5px solid transparent;
border-bottom: 10px solid green;
top: -2px;
left: -5px;}

.square {
width: 10px;
height: 10px;
background-color: blue;}

.sphere {
width: 10px;
height: 10px;
background-color: orange;
border-radius: 50%;
}

.blueline {
border-left: 3px solid #57b0ff;
height: 300px;
position: absolute;
top: 32px;
left: -2px;}

.upper {
font-size: 60%;
position: relative;
bottom: 17px;
right: 9px;}

.downer {
font-size: 60%;
position: absolute;
top: 20px;
left: -20px;}

.brom {display: inline-block;
position: relative;}